.container {
  padding: 32px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.infoContainer {
  display: flex;
  justify-content: center;
}

.infoBox {
  width: 300px;
  margin-bottom: 16px;
  padding: 16px;
  background: #222;
  border-radius: 4px;
  border: 1px solid #444;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info:not(:last-child) {
  margin-bottom: 8px;
}

.expiryRow {
  text-align: center;
  margin-bottom: 16px;
}

.btnRow {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.6;
}

.filled {
}
.outlined {
}

.btn.filled {
  border: none;
  background: #473fff;
  color: #fff;
}

.btn.outlined {
  background: none;
  border: 1px solid #bfbcff;
  color: #bfbcff;
}
